body{
    background-color: #3498db !important;
}

body, html {
    height: 100%;
    display: grid;
    place-items: center;
}

form {
    box-shadow: 5px 5px #2980b9;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px 20px;
    border: solid 1px #bebebe;
    max-width: 500px;
    word-break: break-all;
}


form #alert {
    word-break: break-all;
    display: none;
    color: red;
    width: 100%;
    transition: opacity 0.5s ease-in-out;
}

form #alert.show {
    display: block;
    opacity: 1;
    

}
/* 
form .btn-primary{
    --bs-btn-bg: red;
}

form .mb-3{
    display: flex;
    flex-direction: column;
} */

form #success-box{
    margin: 0;
    padding: 0;
    width: 300px;
}

form #success{
    text-align: center;
    padding: 10px;
    color: green;
    
}


